<div class="banner">
  <div>
    <i class="fa-solid fa-phone"></i> (831) 123-4567
  </div>
  <div>
    <i class="fa-solid fa-envelope"></i> service@resourcex.info
  </div>
</div>

    
<header> 
  <div>
    <a href="/"><img class="site-logo" src="img/logo.png"></a>
    <a href="/">ResoureX</a>
  </div>
      
  <nav class="navbar">
    <ul>
      <li>
        <a href="/">HOME</a>
        <a href="/rent">RENT</a>
        <a href="/forSale">FOR SALE</a>
        <a href="/financeTools">FINANCE TOOLS</a>
      </li>
    </ul>
  </nav>

  <a href="/agents" class="contact"><button>AGENTS</button></a>
</header>