<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/financetools.css" rel="stylesheet" >
    <link href="/css/global.css" rel="stylesheet" >
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Finance Tools - ResourceX</title>
  </head>
  
  <body>
    <%- include('partials/header.ejs') %>

    <main>
      
      <div class="table-of-contents">
        <div class="table-content">
          <h3>Table of Contents</h3>
          <ul>
            <li><a href="#checking_rates">Checking Rates</a></li>
            <li><a href="#calculate_affordability">Calculate Affordability</a></li>
            <li><a href="#check_equity_rates">Check Equity Rates</a></li>
            <li><a href="#finance_area_rates">Finance Rates</a></li>
          </ul>
        </div>
      </div>

      
      <div class="tools">

        <div class="heading-container">
          <div class="heading-content">
            <div>
              <h1>Mortgage & Finance Tools</h1><br>
              <p>Use these tools to help you make informed decisions about your home buying process.</p>
            </div>
          </div>
        </div>

        <div class="content_tools_container">
          <div class="forms_content">
            <div>
              <h2 id="checking_rates">Checking Rates</h2>
              <p>This tool allows the user to check the current interest rates for mortgages.</p>
            </div>
                  
            <div class="forms">
              <form class="all_forms">
                <label>Credit Score:</label>
<!--                 <input id="creditScoreCR" type="text" class="input_boxes" required><br><br> -->
                <select class="dropdowns" id="creditScoreCR">
                  <option value="" disabled selected>- Select an Option -</option>
                  <option value="excellent">Excellent (800 or more)</option>
                  <option value="excellent">Good (669 - 799)</option>
                  <option value="excellent">Fair (580 - 669)</option>
                  <option value="excellent">Poor (300 - 579)</option>

                </select>
                <label>Points:</label>
                <select class="dropdowns" id="pointsCR">
                  <option value="" disabled selected>- Select an Option -</option>
                  <option value="all">All</option>
                  <option value="zero">Zero/option>
                  <option value="zero_to_one">0 - 1</option>
                  <option value="one_to_two">1 - 2</option>
                </select>
<!--                 <input id="pointsCR" type="text" class="input_boxes" required><br><br> -->
                <label>Loan Purpose:</label>
<!--                 <input id="loanPurposeCR" type="text" class="input_boxes" required><br><br>           -->
                <select class="dropdowns" id="loanPurposeCR">
                  <option value="" disabled selected>- Select an Option -</option>
                  <option value="purchase">Purchase</option>
                  <option value="refinance">Refinance</option>
                </select>
                <label>Loan Type:</label>
<!--                 <input id="loanTypesCR" type="text" class="input_boxes" required><br><br> -->
                <select class="dropdowns" id="loanTypesCR">
                  <option value="" disabled selected>- Select an Option -</option>
                  <option value="all">All</option>
                  <option value="30YrFixed">30 years</option>
                  <option value="30YrFixed_FHA">30 year FHA (Fixed)</option>
                  <option value="30YrFixed_VA">30 year VA (Fixed)</option>
                  <option value="20YrFixed">20 years (Fixed)</option>
                  <option value="15YrFixed">15 years (Fixed)</option>
                  <option value="10YrFixed">10 years (Fixed)</option>
                  <option value="5Arm">5/1 ARM</option>
                  <option value="7Arm">7/1 ARM</option>
                </select>
                <label>Loan Percent:</label>
                <input id="loanPercentCR" type="text" class="input_boxes" required><br><br>
                <label>Property Price:</label>
                <input id="propertyPriceCR" type="text" class="input_boxes" required><br><br>
                <label>Zipcode:</label>
                <input id="zipcodeCR" type="text" class="input_boxes" required><br><br>
                
                <button class="submit_btns" id="check_rate" type="button">Check Rate</button>
              </form>
              <p>Results:</p>
              <div id="check_rate_results" class="results">
                
              </div>
            </div>
            
            <br><br><br><br><br><br>

            <div>
              <h2 id="calculate_affordability">Calculate Affordability</h2>
              <p>Use this tool to determine how much home you can afford based on your income, expenses, and debt-to-income ratio.</p>
            </div>
                  
            <div class="forms">
              <form class="all_forms">
                <label>Annual Income:</label>
                <input id="annualIncomeCA" type="text" class="input_boxes" required><br><br>
                <label>Debt to Income Ratio:</label>
                <input id="debtToIncomeRationCA" type="text" class="input_boxes" required><br><br>
                <label>Down Payment:</label>
                <input id="downPaymentCA" type="text" class="input_boxes" required><br><br>
                <label>Home Insurance Rate:</label>
                <input id="homeInsuranceRateCA" type="text" class="input_boxes" required><br><br>
                <label>Interest Rate:</label>
                <input id="interestRateCA" type="text" class="input_boxes" required><br><br>
                <label>Loan Term:</label>
                <input id="loanTermCA" type="text" class="input_boxes" required><br><br>
                <label>Monthly Debt:</label>
                <input id="monthlyDebtCA" type="text" class="input_boxes" required><br><br>
                <label>Tax Rate:</label>
                <input id="taxRateCA" type="text" class="input_boxes" required><br><br>
                <label>Home Owner Association Fee:</label>
                <input id="hoaFeesCA" type="text" class="input_boxes" required><br><br>
                <label>Served in the U.S. Military:</label>
                <input id="isPmiInlcudedCA" type="text" class="input_boxes" required><br><br>
                
                <button class="submit_btns" id="calc_affordability" type="button">Calculate Affordability</button>
              </form>
              <p>Results:</p>
              <div id="calc_affordability_results" class="results"></div>
            </div>
            
            <br><br><br><br><br><br>
            
            <div>
              <h2 id="check_equity_rates">Check Equity Rates</h2>
              <p>This tool allows the user to check the current equity rates for their home.</p>
            </div>
                  
            <div class="forms">
              <form class="all_forms">
                <label>Credit Score:</label>
                <input id="creditScoreCER" type="text" class="input_boxes" required><br><br>
                <label>Loan Product:</label>
                <input id="loanProdCER" type="text" class="input_boxes" required><br><br>
                <label>Loan Amount:</label>
                <input id="loanAmountCER" type="text" class="input_boxes" required><br><br>          
                <label>Property Value:</label>
                <input id="propertyValCER" type="text" class="input_boxes" required><br><br>
                <label>Mortgage Balance:</label>
                <input id="mortgageBalCER" type="text" class="input_boxes" required><br><br>
                <label>Zipcode:</label>
                <input id="zipcodeCER" type="text" class="input_boxes" required><br><br>
                
                <button class="submit_btns" id="check_equ_rates" type="button">Check Equity Rate</button>
              </form>
              <p>Results:</p>
              <div id="check_equ_rates_results" class="results"></div>
            </div>
        

          <br><br><br><br><br><br>
            
          <div>
            <h2 id="finance_area_rates">Finance Rates</h2>
            <p>This tool provides the user with a comprehensive view of the current finance rates in an area in the United States</p>
          </div>
          <div class="forms">
            <form class="all_forms">
              <label>Credit Score:</label>
                <input id="creditScoreFR" type="text" class="input_boxes" required><br><br>
                <label>Points:</label>
                <input id="pointsFR" type="text" class="input_boxes" required><br><br>
                <label>Loan Purpose:</label>
                <input id="loanPurpFR" type="text" class="input_boxes" required><br><br>          
                <label>Loan Type:</label>
                <input id="loanTypeFR" type="text" class="input_boxes" required><br><br>
                <label>Loan Percent:</label>
                <input id="loanPercentFR" type="text" class="input_boxes" required><br><br>
                <label>Property Price:</label>
                <input id="propertyPriceFR" type="text" class="input_boxes" required><br><br>
                <label>Zipcode:</label>
                <input id="zipcodeFR" type="text" class="input_boxes" required><br><br>
              
                <button class="submit_btns" id="finance_rates" type="button">View Rates</button>
            </form>
            <p>Results:</p>
            <div id="finance_rates_results" class="results">
              
            </div>
          </div>
          
        </div>
      </div>
      
    </main>


    
    

  <footer>
    
  </footer>
                  
  <script src="js/script.js"></script>
  </body>
</html>