<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/home.css" rel="stylesheet" >
    <link href="/css/global.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ResourceX</title>
  </head>
  
  <body>
    <%- include('partials/header.ejs') %>

    <main class="split">
      <div>
        <div>
          <p>VIEW THE EXTRAORDINARY</p>
          <p>Homes in California</p>
          <p>VIEW OUR PROPERTIES</p>
        </div>
      </div>
      
      <div>
          <img src="img/house.jpg">
      </div>
    </main>

    
    <footer>

    </footer>
    
  </body>
</html>