<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/global.css" rel="stylesheet" >
    <link href="/css/rentsale.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Rent - ResourceX</title>
  </head>

  <body>
    <%- include('partials/header.ejs') %>

    <main>
      <form action="rent-search">
        <div class="search-container">
          Search: <input id="state" class="search" type="text" name="state" type="text"  placeholder="Enter State" autocomplete="off" required/>
          <input id="city" class="search" name="city" type="text" placeholder="Enter City" autocomplete="off" required/>
          <button id="filter-btn" class="filter-btn">
              <i class="fa-solid fa-filter"></i>
          </button>
          <div id="filter-options" class="filter-options">
            <label>
              <input type="radio" name="sort-by" value="alphabetical" checked> Alphabetical Order
            </label>
            <label>
              <input type="radio" name="sort-by" value="price"> Highest Price
            </label>
            <label>
              <input type="radio" name="sort-by" value="location"> Nearest Location
            </label>
            <button id="apply-filter-btn">Apply</button>
          </div>
        </div>
        <button class="search-btn" type="submit">SEARCH</button>
      </form>

      <div class="card-container">
        <div class="card-content">
          <% for (let i = 0; i < rent_listings.length; i++) { %>
            <div class="card"> 
              <div class="card-img">
                <img src="<%= rent_listings[i].photo %>">
              </div>
              <div class="card-info">
                <p><%= rent_listings[i].price %></p>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </main>

    <footer>
      
    </footer>
    <script src="js/filter.js"></script>
<!--     <script src="js/script.js"></script> -->
  </body>
</html>