* {
  margin: 0px;
  padding: 0px;
  text-decoration: none !important;
}
.banner {
  display: flex;
  background-color: black;
  color: white;
  padding: 7px 9.5%;
}
.fa-solid.fa-phone {
  font-size: 15px;
}
.fa-solid.fa-envelope {
  font-size: 16px;
} 
.banner div {
  margin-right: 25px;
  font-size: 17px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5px 9.5%;
  box-shadow: 0px 3px 5px -2.5px #ccc;
}
header div {
  align-items: center;
  display: flex;
}
header div a {
  font-size: 25px;
  font-weight: bolder;
}
.site-logo {
  height: 110px;
}
header .navbar ul{
  list-style: none;
}
header .navbar ul li a {
  font-size: 20px;
  padding: 30px;
  transition: 0.3s
  color: black;
}
.contact button {
  cursor: pointer;
  padding: 15px 25px;
  border: none;
  background: #BFAA8C;
  border-radius: 3px;
  transition: 0.75s;
  color: white;
  font-weight: bold;
}
.contact button:hover {
  transform: scale(1.1);
}
