* {
  margin: 0px;
  padding: 0px;
  text-decoration: none !important;
}
body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(60,64,67); /* Set the color of the thumb */
  border-radius: 10px;
 }

body::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the track */
}

.banner {
  display: flex;
  background-color: black;
  color: white;
  padding: 0px 9.5%;
  height: 30px;
}
.fa-solid.fa-phone {
  font-size: 15px;
}
.fa-solid.fa-envelope {
  font-size: 16px;
} 
.banner div {
  position: relative;
  top: 5px;
  margin-right: 25px;
  font-size: 17px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5px 9.5%;
  height: 115px;
  box-shadow: 0px 3px 5px -2.5px #ccc;
}
header div {
  align-items: center;
  display: flex;
}
header div a {
  font-size: 25px;
  font-weight: bolder;
  color: black;
}
.site-logo {
  height: 110px;
}
header .navbar ul{
  list-style: none;
}
header .navbar ul li a {
  font-size: 20px;
  padding: 30px;
  color: black;
}
.contact button {
  cursor: pointer;
  padding: 15px 25px;
  border: none;
  background: #BFAA8C;
  border-radius: 3px;
  transition: 0.75s;
  color: white;
  font-weight: bold;
}
.contact button:hover {
  transform: scale(1.1);
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: black;
  height: 44px;
}
