body {
  background-color: blue;
}
#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100% - (30px + 115px + 40px));; /* calc(100% - (bannerHeight + headerHeight + footerHeight)) */
  background-color: red;
  
}
#home div { /* This makes sure the fifty fifty portion functions correctly without having anything else affecting it */
  width: 50%;
  background-color: blue;

}
.text-content { /* Similar to a container */
  width: auto;
  display: flex;
  background-color: red;
  justify-content: center;
}
.text-content div {
  width: fit-content;
  background-color: violet;
}
.text-content div p {
  font-size: 45px; 
  font-weight: bold;
}
